<!-- Statistic (İstatistikler) Bölümü Default sayfası -->

<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                9
            </div>
            <h4>Toplam Yetenek</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                347
            </div>
            <h4>İçilen Kahve</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                6
            </div>
            <h4>Tamamlanan Projeler</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                15
            </div>
            <h4>Teşekkür Sayısı</h4>
        </div>

    </div>
</section>