@model Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Proje Ekle</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="PortfolioId" />
                            <label>Proje Adı</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Alt Başlık</label>
                            <input type="text" asp-for="SubTitle" class="form-control" />
                            <br />
                            <label>Görsel Linki</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" id="imgUrl" />
                            <br />
                            <img id="projectImg" style="width:250px; border-radius:10px; border: 1px solid #AAA" />
                            <br />
                            <br />
                            <label>Proje Linki</label>
                            <input type="text" asp-for="Url" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <textarea rows="4" class="form-control" asp-for="Description"></textarea>
                            <br />
                            <button class="btn btn-success">Güncelle</button>&nbsp;&nbsp;
                            <a asp-controller="Portfolio" asp-action="ListPortfolios" class="btn btn-secondary">Geri Dön</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("imgUrl").addEventListener("input", function(){
        document.getElementById("projectImg").src = this.value;
    });
</script>