<!-- Header (Menü) Bölümü Default sayfası -->

<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="/Default/Index"><img src="../hola-master/images/bcy_logo.png" alt="Homepage" style="height:70px; margin-top:10px"></a>
    </div>

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li class="current"><a class="smoothscroll" href="#home">Ana Sayfa</a></li>
            <li><a class="smoothscroll" href="#about">Hakkımda</a></li>
            <li><a class="smoothscroll" href="#works">Projelerim</a></li>
            <li><a class="smoothscroll" href="#testimonials">Referanslar</a></li>
            <li><a class="smoothscroll" href="#contact">İletişim</a></li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header>