@model SocialMedia
@{
    ViewData["Title"] = "AddSocialMedias";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sosyal Medya Hesabı Ekle</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <label>Hesap Başlığı</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Hesap URL Bilgisi</label>
                            <input type="text" asp-for="Url" class="form-control" />
                            <br />
                            <label>Logo / İkon</label>
                            <input type="text" class="form-control" asp-for="Icon">
                            <br />
                            <button class="btn btn-success">Ekle</button>&nbsp;&nbsp;
                            <a asp-controller="SocialMedia" asp-action="ListSocialMedias" class="btn btn-secondary">Geri Dön</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>